.ArticleDetailsPage {
    min-height: 100%;
}

.commentTitle {
    margin-bottom: 20px;
}

.recommendation {
    margin-top: 20px;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
}
