.Dropdown {
  position: relative;
}
.btn {
  background: none;
  outline: none;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}
.menu {
  background: var(--card-bg);
  position: absolute;
  z-index: 10000;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  flex-direction: column;
  display: flex;
}
.item {
  padding: 10px 25px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 8px;
  color: var(--primary-color);
  cursor: pointer;
}

.active {
  background: var(--inverted-primary-color);
}


.optionsBottomLeft {
  right: 0;
  top: 100%;
}
.optionsBottomRight {
  left: 0;
  top: 100%;
}
.optionsTopLeft {
  right: 0;
  bottom: 100%;
}
.optionsTopRight {
  left: 0;
  bottom: 100%;
}
